<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email || Template</title>
</head>

<body style="margin: 0; padding: 0; font-family: system-ui, -apple-system, sans-serif; color: white;background: linear-gradient(to bottom right, #260F16, #2C2B45, #27131E) !important; ">
    <div style=" margin: 10 auto; padding: 2rem;">
        <header style="margin-bottom: 2rem;font-family: Edwardian Script;text-align:center;">
            <h1 style="font-size: 3rem; margin: 0; font-weight: 900;">
                Graduation Ceremony
                <span style=" font-weight:500">for the Class of 2023</span>
            </h1>
        </header>

        <main style="line-height: 1.6; font-size: 1.1rem; padding: 3rem; min-height: 100vh; 
             background: linear-gradient(to bottom right, #260F16, #2C2B45, #27131E) !important;">
            <p style="font-size: 1.75rem; margin-bottom: 2rem; font-weight: 500;">Dear Parents of {name},</p>

            <p style="font-size: 1.5rem;">
                It is with great enthusiasm that we extend an invitation to you for the forthcoming graduation ceremony of the
                <strong>Class of 2023</strong> at Deerwalk Institute of Technology.
            </p>

            <p style="font-size: 1.5rem;">
                The ceremony is scheduled for <span style="font-weight: 600;">Saturday, December 21st, 2024, at 9:00 am sharp</span> in the Deerwalk Complex.
                We eagerly anticipate your presence as we celebrate this significant milestone together.
                Your participation will make this occasion even more special for our graduates.
            </p>

            <p style="font-size: 1.5rem;">Looking forward to celebrating this momentous event with you.</p>

            <div style="margin-top: 3rem;font-size: 1.5rem;">
                <p style="margin-top: 2rem; color: #e0e0e0;font-weight: 600;">Warm regards,</p>
                <p style="margin-top: 1.5rem; font-weight: 600;">Deerwalk Institute of Technology</p>
            </div>
        </main>
    </div>
</body>

</html>
